# Environment variables
env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Files to exclude from git
Subject-Time-Manger.py
HomeworkHelper.py